# Basics

Now it's time to write some Python code!

## Introduction and Installation

To use SQL efficiently in your bots you need 2 things:

- some library that will run SQL queries (psycopg2, asyncpg, sqlite3, etc.)
- SQLAlchemy library that will help you to build python-like queries. Since you may be used to Python
  syntax you would like to build models and requests to your database with some Python code as well.

> **Note:**
>
> We will be using syntax for SQLAlchemy v2.0 for this tutorial.

_This is not a full tutorial, so you might like to check out
the [SQLAlchemy tutorial](https://docs.sqlalchemy.org/en/20/tutorial/index.html) later._

First off, let's build a virtual environment and install all the dependencies.

We will be using the latest stable version, Python 3.10.

### Ubuntu installation:

In [1]:
!pip3 install psycopg2-binary==2.9.3 asyncpg==0.25.0 SQLAlchemy~=2.0

Collecting psycopg2-binary==2.9.3
  Using cached psycopg2_binary-2.9.3-cp310-cp310-win_amd64.whl (1.2 MB)
Collecting asyncpg==0.25.0
  Using cached asyncpg-0.25.0-cp310-cp310-win_amd64.whl (525 kB)
Collecting SQLAlchemy~=2.0
  Using cached SQLAlchemy-2.0.12-cp310-cp310-win_amd64.whl (2.0 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.2-cp310-cp310-win_amd64.whl (192 kB)
Collecting typing-extensions>=4.2.0
  Using cached typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, asyncpg, SQLAlchemy
Successfully installed SQLAlchemy-2.0.12 asyncpg-0.25.0 greenlet-2.0.2 psycopg2-binary-2.9.3 typing-extensions-4.5.0

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip


Our dependencies are ready to use!

## Connecting to a database

In order to connect to our database we need to
use [SQLAlchemy Engine](https://docs.sqlalchemy.org/en/20/tutorial/engine.html).
It is created by using the `create_engine` function.

```python
from sqlalchemy import create_engine

engine = create_engine('URL', echo=True, future=True)
```

> Echo is a boolean parameter that will print all the queries that are being executed.
> Future is a boolean parameter that will enable the usage of the SQLAlchemy 2.0 syntax.

Here we are using the string `URL` to connect to our database. It is
called [SQLAlchemy connection string](https://docs.sqlalchemy.org/en/20/core/engines.html#database-urls) and looks
something like this: `driver+postgresql://user:password@host:port/dbname`.

However, you can build it using a URL-builder:

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

URL = URL.create(
    drivername="postgresql+psycopg2",  # driver name = postgresql + the library we are using
    username='testuser',
    password='testpassword',
    host='localhost', # insert your host here
    database='testuser',
    port=5432
)

# Now you can pass this URL to the `create_engine` function.

engine = create_engine(URL, echo=True, future=True)

Be aware that we are not yet connected to the database, it will be done when we use the `engine` variable.

## Transactions

As you may have learnt, SQL has Transaction Control Language (TCL) to manage transactions.

Transaction - is a set of commands that are executed in a single unit of work.

- A transaction is started by calling the `begin()` method.
- A transaction is committed by calling the `commit()` method.
- A transaction is rolled back by calling the `rollback()` method.

You can insert some rows and then rollback the transaction, so the rows will not be inserted, otherwise you may commit
the transaction and all changed will be saved.

In the transactions you can also alter tables structure and rollback that as well.

### Syntax for transactions:

```SQL
BEGIN; -- start a transaction
INSERT INTO table1
VALUES (1, 'test'); -- insert some dummy data
INSERT INTO table2
VALUES (2, 'test'); -- insert some more dummy data
ALTER TABLE table1
    RENAME TO table3; -- rename table1 to table3
ROLLBACK; -- cancel the changes

BEGIN;
INSERT INTO table1
VALUES (1, 'test'); -- insert some dummy data
COMMIT; -- commit (save) the changes
```

## Sessions

Sessions are used to manage the connection to the database.

Session is used to actually connect to the database using engine.

In [5]:
from sqlalchemy.orm import sessionmaker

session_pool = sessionmaker(bind=engine)

Now every time we need to create a session we can use the `session_pool` variable.

```python
session = session_pool()  # create a session
session.execute(...)  # execute some SQL query
session.commit()  # or session.rollback() to commit/rollback the changes
session.close()  # close the session (IMPORTANT: you must close the session after you are done with it)

# OR

with session_pool() as session:
    # do something with session
    session.execute(...)
    session.commit()  # or session.rollback()
```

## Textual SQL

You can use the `text()` function to create a SQLAlchemy `Text` object and run raw SQL queries.
This is not how we will use SQLAlchemy in our bots, but I'll show it for smoother transition from SQL lessons.

We will use tables from the previous tutorials:

In [10]:
from sqlalchemy import text  # import the `text()` function

query = text("SELECT * FROM users LIMIT 2")  # create a SQLAlchemy `Text` object.
with session_pool() as session:  # create a session
    result = session.execute(query)  # execute the query
    for row in result:  # result is sqlalchemy.engine.cursor.CursorResult object. You can iterate over it.
        print(row)  # Every element of the result is a tuple.

2023-05-08 16:57:25,959 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-08 16:57:25,959 INFO sqlalchemy.engine.Engine SELECT * FROM users LIMIT 2
2023-05-08 16:57:25,960 INFO sqlalchemy.engine.Engine [cached since 152.3s ago] {}
(1, 'John Doe', 'johnny', 'en', datetime.datetime(2020, 1, 1, 0, 0), None)
(2, 'Jane Doe', 'jane', 'en', datetime.datetime(2020, 1, 2, 0, 0), 1)
2023-05-08 16:57:25,963 INFO sqlalchemy.engine.Engine ROLLBACK

# Database preparation
In case you don't have a postgresql setup yet, use this Docker command (provided you have docker installed):

In [ ]:
!docker run --name postgresql -e POSTGRES_PASSWORD=testpassword -e POSTGRES_USER=testuser -e POSTGRES_DB=testuser -p 5432:5432 -d postgres:13.4-alpine

In [9]:
# Create tables and insert some data

from sqlalchemy import text  # import the `text()` function

query = text("""

CREATE TABLE users
(
    telegram_id   BIGINT PRIMARY KEY,
    full_name     VARCHAR(255) NOT NULL,
    username      VARCHAR(255),
    language_code VARCHAR(255) NOT NULL,
    created_at    TIMESTAMP DEFAULT NOW(),
    referrer_id   BIGINT,
    FOREIGN KEY (referrer_id)
        REFERENCES users (telegram_id)
        ON DELETE SET NULL
);


INSERT INTO users
    (telegram_id, full_name, username, language_code, created_at)
VALUES (1, 'John Doe', 'johnny', 'en', '2020-01-01');


INSERT INTO users
(telegram_id, full_name, username, language_code, created_at, referrer_id)
VALUES (2, 'Jane Doe', 'jane', 'en', '2020-01-02', 1);

""")
with session_pool() as session:  # create a session
    session.execute(query)  # execute the query
    session.commit()  # commit the changes

2023-05-08 16:57:16,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-08 16:57:16,935 INFO sqlalchemy.engine.Engine

CREATE TABLE users
(
    telegram_id   BIGINT PRIMARY KEY,
    full_name     VARCHAR(255) NOT NULL,
    username      VARCHAR(255),
    language_code VARCHAR(255) NOT NULL,
    created_at    TIMESTAMP DEFAULT NOW(),
    referrer_id   BIGINT,
    FOREIGN KEY (referrer_id)
        REFERENCES users (telegram_id)
        ON DELETE SET NULL
);


INSERT INTO users
    (telegram_id, full_name, username, language_code, created_at)
VALUES (1, 'John Doe', 'johnny', 'en', '2020-01-01');


INSERT INTO users
(telegram_id, full_name, username, language_code, created_at, referrer_id)
VALUES (2, 'Jane Doe', 'jane', 'en', '2020-01-02', 1);


2023-05-08 16:57:16,936 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2023-05-08 16:57:16,949 INFO sqlalchemy.engine.Engine COMMIT

##### Explanation:

You can see that firstly the transaction is started, then the query is executed,
then we print the result and finally the transaction is rollbacked automatically.
This is because we didn't commit any changes.

## Extracting data from rows

You can also print every row of the result as a dictionary, or get columns as attributes:

In [15]:
with session_pool() as session:  # create a session
    result = session.execute(query)  # execute the query

    for row in result:
        # print(dict(row))  # print every row as a dictionary
        # print()  # print a new line
        print(f'ID: {row.telegram_id}, Full name: {row.full_name}, Username: {row.username}')  # print as attributes
        print()  # print a new line

2023-05-08 17:00:40,987 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-08 17:00:40,988 INFO sqlalchemy.engine.Engine SELECT * FROM users LIMIT 2
2023-05-08 17:00:40,988 INFO sqlalchemy.engine.Engine [cached since 347.4s ago] {}
ID: 1, Full name: John Doe, Username: johnny

ID: 2, Full name: Jane Doe, Username: jane

2023-05-08 17:00:40,992 INFO sqlalchemy.engine.Engine ROLLBACK

See, now you know that row-objects may be transformed to different types of objects.

## Working with Result

There are different ways you can retrieve the result of a query. Not all results you need are in a form of a table.

Sometimes you want to retrieve a single row, or a single column at once.

You can do this by calling different methods of the `Result` object:

- `all()` - returns all rows of the result as a list of tuples.
- `first()` - returns the first row of the result.
- `scalar()` - returns the first column of the first row of the result.

> **Note:**
> You can apply these methods only ONCE. The result will be consumed after the first call, and you'll get
> an error: `sqlalchemy.exc.ResourceClosedError: This result object is closed.`

#### Example 2

Let's get all rows of the result as a list of tuples:

In [16]:
query = text("SELECT * FROM users")
with session_pool() as session:
    result = session.execute(query)
    all_rows = result.all()
    print(f'{all_rows=}')

2023-05-08 17:01:37,104 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-08 17:01:37,105 INFO sqlalchemy.engine.Engine SELECT * FROM users
2023-05-08 17:01:37,106 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
all_rows=[(1, 'John Doe', 'johnny', 'en', datetime.datetime(2020, 1, 1, 0, 0), None), (2, 'Jane Doe', 'jane', 'en', datetime.datetime(2020, 1, 2, 0, 0), 1)]
2023-05-08 17:01:37,108 INFO sqlalchemy.engine.Engine ROLLBACK

#### Example 3

Let's get the first row of the result:

In [17]:
query = text("SELECT * FROM users")
with session_pool() as session:
    result = session.execute(query)
    first_row = result.first()
    print(f'{first_row=}')

2023-05-08 17:02:10,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-08 17:02:10,028 INFO sqlalchemy.engine.Engine SELECT * FROM users
2023-05-08 17:02:10,029 INFO sqlalchemy.engine.Engine [cached since 32.92s ago] {}
first_row=(1, 'John Doe', 'johnny', 'en', datetime.datetime(2020, 1, 1, 0, 0), None)
2023-05-08 17:02:10,031 INFO sqlalchemy.engine.Engine ROLLBACK

#### Example 4

Let's get the first column of the first row of the result:
> **Note:**
>
> If you want to pass the parameters to the query, you can name it as a keyword argument (`:id`) and pass it as a
> keyword argument to the `params` method.
>
> **Never insert a parameter into a string by formatting methods, your query will be vulnerable to SQL injection.**

In [18]:
query = text("SELECT full_name FROM users WHERE telegram_id = :id").params(id=1)
with session_pool() as session:
    result = session.execute(query)
    full_name = result.scalar()
    print(f'{full_name=}')

2023-05-08 17:03:11,120 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-08 17:03:11,121 INFO sqlalchemy.engine.Engine SELECT full_name FROM users WHERE telegram_id = %(id)s
2023-05-08 17:03:11,122 INFO sqlalchemy.engine.Engine [generated in 0.00083s] {'id': 1}
full_name='John Doe'
2023-05-08 17:03:11,125 INFO sqlalchemy.engine.Engine ROLLBACK

Great! Now you know how to retrieve data from a result.